<div class="modal fade" id="loginModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="loginForm">
        {% csrf_token %}
        <div class="modal-header">
            <h5 class="modal-title">Login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
            <!-- Error message container -->
            <div id="login-error" class="alert alert-danger d-none"></div>

            <input name="username" class="form-control mb-2" placeholder="Username" required>
            <input name="password" type="password" class="form-control" placeholder="Password" required>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
