{% extends 'base_customer.html' %}
{% block title %}Freebie Dashboard{% endblock %}

{% block content %}
<h3>Welcome Free User, {{ request.user.username }}</h3>

<p>You don’t belong to any company. You can still browse public products and place orders!</p>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Browse Public Products</h5>
                <a href="{% url 'product_spa' %}" class="btn btn-outline-primary">Explore Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
