{% extends 'base.html' %}

{% block title %}{{ category.name }} - Furniture Store{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">{{ category.name }}</h1>
    

    <h3>Category Types</h3>

    {% include "material/subnav.html" %}  {# Sub-navbar placed below heading #}
    <div class="list-group">
        {% for category_type in category.categorytypes.all %}
        <a href="{% url 'category_type_detail' category_type.id %}" class="list-group-item list-group-item-action">
            {{ category_type.name }}
        </a>
        {% empty %}
        <p>No category types available.</p>
        {% endfor %}
    </div>

    <h3 class="mt-4">Category Models</h3>
    <div class="list-group">
        {% for category_model in category.categorymodels.all %}
        <a href="{% url 'category_model_detail' category_model.id %}" class="list-group-item list-group-item-action">
            {{ category_model.name }}
        </a>
        {% empty %}
        <p>No category models available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
