<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/material/brand/' %}active{% endif %}" href="{% url 'brand_page' %}">Brands</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/material/edgeband-list/' %}active{% endif %}" href="{% url 'edgeband-list' %}">Edgebands</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/material/hardware-inventory/' %}active{% endif %}" href="{% url 'hardware-inventory' %}">Hardware</a>
  </li>
  <!-- Add more as needed -->
</ul>
